@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: rgba(0, 0, 0, 0.65) url("bg.jpg") no-repeat center center;
  background-blend-mode: darken !important;
  height: 100vh;
  width: 100vw;
}

.card {
  align-items: center;
  justify-content: center;
  position: fixed !important;
  text-align: center !important;
  transform: translate(-50%, -50%);
  top: 50% !important;
  left: 50% !important;
  border-radius: 15px !important;
  box-shadow: 10px 10px rgba(117, 110, 110, 0.301),
    -10px -10px rgba(54, 32, 32, 0.301);
}
h1 {
  font-size: 1.5rem !important;
  font-family: "Karma", serif;
}
@media (max-width: 700px) {
  .card {
    width: 21rem !important;
  }
  .h1 {
    font-size: 1rem !important;
  }
}
@media (max-width: 321px) {
  .card {
    width: 19rem !important;
  }
  .h1 {
    font-size: 1rem !important;
  }
}
